html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  font-size: 37.5px; }

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .box header {
    width: 100%;
    height: 1.17333rem;
    border-bottom: 0.02667rem solid #ccc;
    background: #53ab3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.53333rem;
    box-sizing: border-box; }
    .box header span {
      font-size: 0.42667rem; }
  .box section {
    flex: 1;
    overflow: auto; }
    .box section .banner {
      width: 100%;
      height: 3.73333rem;
      background: #000;
      overflow: hidden; }
      .box section .banner .swiper-content {
        width: 100%;
        height: 100%; }
        .box section .banner .swiper-content .swiper-wrapper {
          width: 100%;
          height: 100%; }
          .box section .banner .swiper-content .swiper-wrapper .swiper-slide {
            width: 100%;
            height: 100%; }
            .box section .banner .swiper-content .swiper-wrapper .swiper-slide img {
              width: 100%;
              height: 100%; }
    .box section .kind {
      width: 100%;
      height: 5.33333rem;
      padding: 0.26667rem;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      background: #fff; }
      .box section .kind dl {
        width: 20%;
        height: 50%; }
        .box section .kind dl dt {
          width: 80%;
          height: 60%; }
          .box section .kind dl dt img {
            width: 80%;
            height: 80%;
            border-radius: 50%; }
    .box section .move {
      width: 100%;
      height: 10.66667rem;
      background: #ccc;
      padding-top: 0.53333rem;
      display: flex;
      flex-direction: column; }
      .box section .move ul {
        width: 100%;
        height: 1.06667rem;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .box section .move ul li {
          width: 33.3%;
          height: 100%;
          text-align: center;
          line-height: 1.06667rem; }
      .box section .move .style {
        width: 100%;
        flex: 1;
        background: #fff;
        display: flex;
        flex-direction: column; }
        .box section .move .style dl {
          width: 100%;
          height: 2.66667rem;
          border: 0.02667rem solid #ccc;
          display: flex;
          justify-content: space-between;
          padding: 0.13333rem; }
          .box section .move .style dl dt {
            width: 30%;
            height: 2.66667rem; }
            .box section .move .style dl dt img {
              width: 100%;
              height: 100%; }
          .box section .move .style dl dd {
            padding-left: 0.26667rem;
            box-sizing: border-box;
            flex: 1;
            height: 100%; }
            .box section .move .style dl dd .top h4 {
              display: inline-block; }
            .box section .move .style dl dd .top span {
              display: inline-block;
              background: red;
              color: #fff;
              border-radius: 0.05333rem;
              padding: 0.13333rem;
              box-sizing: border-box; }
  .box footer {
    width: 100%;
    height: 1.17333rem;
    background: #f5f5f5;
    border-top: 0.02667rem solid #ccc; }
    .box footer p {
      text-align: center;
      line-height: 1.17333rem;
      color: #999;
      font-size: 0.42667rem; }
